/* common CSS for all steps */
.fs-15p{
    font-size: 15px;
}
.mt-80p{
    margin-top: 80px;
}
.h-90pr{
    height: 90%;
}
.action-btn, .action-btn:hover, .action-btn:active, .action-btn:focus{
    font-weight: 500;
    border: 1px solid #F33558;
    background-color: #F33558;
    padding: 10px 50px;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
}
.next-btn, .next-btn:hover, .next-btn:active, .next-btn:focus {    
    font-weight: 500;
    border: 1px solid #FFBB00;
    background-color: #FFBB00;
    padding: 10px 50px;
    color: #000;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
}
/* Range slider and the bubble above the ranger */
.range-input {
    -webkit-appearance: none;
    appearance: none; 
    width: 80%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
    background:linear-gradient(to right, #333 10%, #ccc 10% );
}  
.range-input::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none; 
height: 15px;
width: 15px;
background-color: #fff;
border-radius: 50%;
border: 5px solid #6967FF;
transition: .2s ease-in-out;
}
.range-input::-moz-range-thumb {
height: 15px;
width: 15px;
background-color: #fff;
border-radius: 50%;
border: 5px solid #6967FF;
transition: .2s ease-in-out;
}
.range-bubble { 
position: absolute;
background-color: #fff;
text-align: center;
color: #333;
border-radius: 10px;
display: inline-block;
font-weight: 500;
padding: 4px 10px;
bottom: 25px;
right: 46.5%;
}
.range-bubble:after { 
content: "";
position: absolute;
width: 0;
height: 0;
border-top: 5px solid #fff;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
top: 100%;
left: 50%;
margin-left: -5px;
margin-top: -1px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}
.wrapper{
    text-align: center;
    margin: auto;
    width: 70%;
}


/* STEP 1 */
.step1{
    background-color: #1771C5; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #46DF95, #1771C5, #C22EBD, #EE5050);
    min-height: 100vh;
}
.step1 .content {
    text-align: start;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    /* padding: 55px 40px; */
    height: 450px;
    max-height: 550px;
    /* background: url('../images/Steps/step1-img.png');
    background-color: #fff;
    background-blend-mode: multiply;
    background-position: right;
    background-repeat: no-repeat; */
    position: relative;
}
.step1 h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}
.step1 .c-color{
    color: #6967FF;
}
.step1 p{
    font-size: 18px;
    line-height: 27px;
}
.step1 .overlay{
    position: absolute;
    bottom: -20%;
    left: 30%;
    transform: translateX(-21%);
    text-align: center;
    padding: 25px 40px;
    border: 1px solid #59EF9A;
    background-color: #59EF9A;
    border-radius: 20px;
}
.step1 .overlay h4{
    color: #383838;
    line-height: 32px;
}
.step1 .col-padding{    
    padding: 55px 40px;
}
.step1 .img-padding{    
    padding: 35px 0px 45px 40px;
}
.step1 img{    
    max-width: 100%;
}
.step1 .arrow{
    position: absolute;
    right: 11%;
    top: 40%;
}
.step1 .range-input {
    background:linear-gradient(to right, #333 10%, #ccc 10% );
}
.step1 .range-bubble { 
    right: 79.5%;
}  



/* STEP 6 */
.step6{
    background-color: #3C2E92;
    min-height: 100vh;
}
.step6 .content {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    padding: 30px;
    height: 520px;
    max-height: 550px;
    background: url('../images/Steps/step6-bg.png');
    background-color: #C8E7FF;
    background-blend-mode: multiply;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.step6 h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}
.step6 .range-input {
    background:linear-gradient(to right, #333 50%, #ccc 50% );
}
.step6 .range-bubble { 
    right: 46.5%;
} 


/* STEP 7 */
.step7{
    background-color: #F33557; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #F33557, #F335C9);
    min-height: 100vh;
}
.step7 .content {
    text-align: start;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    /* padding: 30px; */
    height: 520px;
    max-height: 550px;
    /* background: url('../images/Steps/step6-bg.png');
    background-color: #C8E7FF;
    background-blend-mode: multiply;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain; */
}
.step7 .c-col {
    /* margin: auto; */
    background-color: #eee;
    /* background-size: cover; */
    border-radius: 50px 0 0 50px;
    /* height: 100%; */
    position: relative;
}
.step7 .content-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step7 h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}
.step7 .proof-wrapper{
    width: 410px;
    height: 206px;
    text-align: center;
    margin-top: 1rem;
    border: 1px dashed #000;
    border-radius: 20px;
    padding: 35px 60px;
    /* margin: auto; */
    background-color: #fff;
}
.step7 .proof-title {
    font-size: 24px;
    line-height: 32px;
    color: #383838;
    font-weight: 500;
}
.step7 .img-wrapper {
    text-align: end;
    padding: 40px;
}
.step7 .img-wrapper img{
    border-radius: 20px;
}
.step7 .range-input {
    background:linear-gradient(to right, #333 58%, #ccc 58% );
} 
.step7 .range-bubble { 
    right: 40%;
} 


/* STEPS 7 Secondary Page */
.step7 .proof-sec-wrapper{
    width: 410px;
    height: auto;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 35px 60px;
    background-color: #fff;
}
.step7 .img-icon-wrapper{
    border: 1px dashed #6967FF;
    border-radius: 10px;
}
.step7 .img-icon-wrapper span{
    margin-left:20px;
    color: #132730;
    line-height: 27px;
}
.step7 .c-select{
    color: #132730;
}
.step7 .c-select, .step7 .c-select:hover, .step7 .c-select:active, .step7 .c-select:focus {
    outline: none;
    box-shadow: none;
}


/* STEP 8 */
.step8{
    background-image: url('../images/Steps/step8-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.step8 .content {
    text-align: center;
    border: 10px solid #433C6D;
    border-radius: 65px;
    background-color: #fff;
    padding: 30px;
    height: 460px;
    max-height: 550px;
    background: url('../images/Steps/step8-img.png');
    background-color: #fff;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
}
.step8 .c-para{
    font-size: 36px;
    line-height: 45px;
}
.step8 .range-input {
    background:linear-gradient(to right, #333 66%, #ccc 50% );
} 
.step8 .range-bubble { 
    right: 33.5%;
} 


/* STEP 9 */

.step9{
    background-color: #F33557; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #F33557, #F335C9);
    min-height: 100vh;
}
.step9 .content {
    text-align: start;
    border-radius: 50px;
    background-color: #fff;
    /* padding: 30px; */
    height: 540px;
    max-height: 550px;
}
.step9 .content-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step9 h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}
.step9 .proof-wrapper{
    width: 410px;
    text-align: center;
    margin-top: 1rem;
    border: 1px dashed #000;
    border-radius: 20px;
    padding: 35px 60px;
    /* margin: auto; */
    background-color: #fff;
}
.step9 .proof-wrapper img{
    max-height: 132px;
    max-width: 132px;
}
.step9 .img-wrapper {
    text-align: end;
    padding: 40px;
}
.step9 .img-wrapper img{
    border-radius: 20px;
}
.step9 .range-input {
    background:linear-gradient(to right, #333 75%, #ccc 75% );
} 
.step9 .range-bubble { 
    right: 27%;
} 
.step9 .status-info{
    height: 60px;
    background-color: #6967FF;
    border-radius: 50px 50px 0 0;
    padding: 20px 30px 0 30px;
    color: #fff;
}

  
  

