.step6{
    background-color: #3C2E92;
    min-height: 100vh;
}
.step6 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}
.step6 .wrapper{
    text-align: center;
    margin: auto;
    width: 70%;
    margin-bottom:40px;
}
.step6 .content {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    padding: 50px;
    height: 520px;
    max-height: 550px;
    background: url('../images/Step6/step6-bg.png');
    background-color: #C8E7FF;
    background-blend-mode: multiply;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.range-input {
    -webkit-appearance: none;
    appearance: none; 
    width: 80%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
    background:linear-gradient(to right, #333 50%, #ccc 50% );
  }
  
.range-input::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none; 
height: 15px;
width: 15px;
background-color: #fff;
border-radius: 50%;
border: 5px solid #6967FF;
transition: .2s ease-in-out;
}

.range-input::-moz-range-thumb {
height: 15px;
width: 15px;
background-color: #fff;
border-radius: 50%;
border: 5px solid #6967FF;
transition: .2s ease-in-out;
}

/* .range-input::-webkit-slider-thumb:hover {
box-shadow: 0 0 0 10px rgba(255,85,0, .1)
} */
/* .range-input:active::-webkit-slider-thumb {
box-shadow: 0 0 0 13px rgba(255,85,0, .2)
} */
/* .range-input:focus::-webkit-slider-thumb {
box-shadow: 0 0 0 13px rgba(255,85,0, .2)
} */

/* .range-input::-moz-range-thumb:hover {
box-shadow: 0 0 0 10px rgba(255,85,0, .1)
} */
/* .range-input:active::-moz-range-thumb {
box-shadow: 0 0 0 13px rgba(255,85,0, .2)
} */
/* .range-input:focus::-moz-range-thumb {
box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
} */

.range-bubble { 
position: absolute;
background-color: #fff;
text-align: center;
color: #333;
border-radius: 10px;
display: inline-block;
font-size: 15px;
font-weight: 500;
top: 4%;
left: 48%;
padding: 4px 10px;
}
.range-bubble:after { 
content: "";
position: absolute;
width: 0;
height: 0;
border-top: 5px solid #fff;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
top: 100%;
left: 50%;
margin-left: -5px;
margin-top: -1px;
}
  
  