/* common CSS for all steps */
.fs-15p{
    font-size: 15px;
}
.mt-80p{
    margin-top: 80px;
}
.h-90pr{
    height: 90%;
}
.mb-30p{
    margin-bottom:30px;
}
.mt-m45p{
    margin-top:-45px;
}
.mt-50p{
    margin-top: 50px;
}

h1{
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}
.outline-btn{
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    width:275px;
    font-size: 15px;
    color: #000;
}
.outline-btn:hover, .outline-btn:active, .outline-btn:focus{
    color: #fff;
}
.action-btn, .action-btn:hover, .action-btn:active, .action-btn:focus{
    font-weight: 500;
    border: 1px solid #F33558;
    background-color: #F33558;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    width:275px;
    font-size: 15px;
}
.next-btn, .next-btn:hover, .next-btn:active, .next-btn:focus {    
    font-weight: 500;
    border: 1px solid #FFBB00;
    background-color: #FFBB00;
    padding: 10px 20px;
    color: #000;
    border-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    width:175px;
    font-size: 15px;
}
/* Range slider and the bubble above the ranger */
.range-input {
    -webkit-appearance: none;
    appearance: none; 
    width: 80%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
    background:linear-gradient(to right, #333 10%, #ccc 10% );
}  
.range-input::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none; 
height: 15px;
width: 15px;
background-color: #fff;
border-radius: 50%;
border: 5px solid #6967FF;
transition: .2s ease-in-out;
}
.range-input::-moz-range-thumb {
height: 15px;
width: 15px;
background-color: #fff;
border-radius: 50%;
border: 5px solid #6967FF;
transition: .2s ease-in-out;
}
.range-bubble { 
position: absolute;
background-color: #fff;
text-align: center;
color: #000;
border-radius: 10px;
display: inline-block;
font-weight: 500;
padding: 4px 10px;
bottom: 25px;
right: 46.5%;
}
.range-bubble:after { 
content: "";
position: absolute;
width: 0;
height: 0;
border-top: 5px solid #fff;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
top: 100%;
left: 50%;
margin-left: -5px;
margin-top: -1px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}
.wrapper{
    text-align: center;
    margin: auto;
    width: 70%;
}
p{
    font-size: 15px;
    line-height: 27px;
    color: #383838
}


/* STEP 1 */
.step1{
    background-color: #1771C5; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #46DF95, #1771C5, #C22EBD, #EE5050);
    min-height: 100vh;
}
.step1 .content {
    text-align: start;
    border: 10px solid #000;
    border-radius: 50px;
    background-color: #fff;
    height: 450px;
    max-height: 550px;
    position: relative;
}
.step1 .c-color{
    color: #6967FF;
}
.step1 .overlay{
    position: absolute;
    bottom: -20%;
    left: 30%;
    transform: translateX(-21%);
    text-align: center;
    padding: 25px 40px;
    border: 1px solid #59EF9A;
    background-color: #59EF9A;
    border-radius: 20px;
}
.step1 .overlay h4{
    color: #383838;
    line-height: 32px;
}
.step1 .col-padding{    
    padding: 55px 40px;
}
.step1 .img-padding{    
    padding: 35px 0px 45px 40px;
}
.step1 img{    
    max-width: 100%;
}
.step1 .arrow{
    position: absolute;
    right: 11%;
    top: 40%;
}
.step1 .range-input {
    background:linear-gradient(to right, #333 10%, #ccc 10% );
}
.step1 .range-bubble { 
    right: 79.5%;
}  



/* STEP 2*/
.step2{
    background-color: #1D7DD6; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #43D99A 35%, #1D7DD6 79%);
    min-height: 100vh;
}
.step2 .wrapper{
    width: 75%;
}
.step2 .content {
    text-align: center;
    height: 530px;
    max-height: 550px;
    padding:10px;
}
.step2 .range-input {
    background:linear-gradient(to right, #333 18%, #ccc 18% );
}
.step2 .main{
    width: 33px;
    height: 33px;
}
.step2 .range-bubble { 
    right: 72.7%;
}
.step2 .list-icon{
    width: 22px;
    height: 22px;    
    margin-right: 0.75rem;
} 
.step2 .icon-wrapper{
    border: 1px solid #FFBB00;
    background-color: #FFBB00;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
}
.step2 .info{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}
.step2 .list-item{
    background-color: #323263;
    color: #fff;
    text-align: left;
    border-radius: 20px;
}
.step2 .list-item li{
    padding: 12px 20px;
    border-bottom: 1px solid #EAEAEA;
    height: 50px;
    font-size: 16px;
}
.step2 .list-item li:last-child{
    border-bottom: 0;
}
.step2 .list-info{
    text-align: left;
    background-color: #fff;
    color: #383838;
    border-radius: 20px;
}
.step2 .list-info li{
    padding: 12px 20px;
    border-bottom: 1px solid #EAEAEA;
    height: 50px;
    font-size: 16px;
}
.step2 .list-info li:last-child{
    border-bottom: 0;
}
.step2 .list-title1, .step2 .list-title2{
    text-align: left;
    margin-left: 1rem;
    padding: 12px;
    margin-right: 60px;
    background-color: #1F2EB1; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #AF38D9, #1F2EB1);
    border-radius: 15px 15px 0 0;
    color: #fff;
    font-size: 15px;
}
.step2 .list-title2{
    background-color: #A50C83; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #F16B20, #A50C83);
}



/* STEP3 */
.step3{
    background-color: #393C76; /* For browsers that do not support gradients */
    background: url('../images/Steps/step3-bg.png');
    background: url('../images/Steps/step3-bg.png'),linear-gradient(to bottom right, #00C1DB 0%, #393C76 60%);
    background-blend-mode: multiply;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
}
.step3 .content {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 60px;
    background-color: #fff;
    padding: 30px;
    height: 540px;
    max-height: 550px;
}
.step3 .range-input {
    background:linear-gradient(to right, #333 25%, #ccc 25% );
}
.step3 .range-bubble { 
    right: 66.2%;
} 
.step3 .c-card {
    border: 1px solid #DEDEDE;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    border-radius: 20px;
    position: relative;
    padding: 15px 30px;
}
.step3 .img-container{
    position: relative;
}
.step3 img.background{
    width: 118px;
    height: 92px;
}
.step3 .img-container .card-icon {
    border-radius: 50%;
    position: absolute;
    border: 1px solid #E9E9E9;
    background-color: #fff;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
}
.step3 .c-card p{
    font-size: 17px;
    line-height: 48px;
    font-weight: 600;
}
.step3 .c-card .img-overlay {
    border-radius: 50%;
    position: absolute;
    background-color: #6967FF;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 10px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.step3 .c-card .card-icon  img{
    width:36px;
    height:35px;
}



/* STEP4 */
.step4{
    background-color: #CA328D; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, #6D4BF9, #CA328D);
    min-height: 100vh;
}
.step4 .content {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 60px;
    background-color: #fff;
    padding: 30px;
    height: 500px;
    max-height: 550px;
    background: url('../images/Steps/step4-bg.png');
    background-color: #FAE5FA;
    background-blend-mode: multiply;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: initial;
    position: relative;
    margin-bottom:1.5rem;
    margin-top:4.5rem;
}
.step4 .range-input {
    background:linear-gradient(to right, #333 33%, #ccc 33% );
}
.step4 .range-bubble { 
    right: 59.5%;
}  
.step4 .form-wrapper{
    border: 1px solid #E8E8E8;
    position: absolute;
    padding: 60px 50px;
    background-color: #fff;
    border-radius: 30px;
    right: 10%;
    top: -6%;
}
.step4 .icon-wrapper{
    position: absolute;
    top: -60%;
    border: 1px solid #FFBB00;
    background-color: #FFBB00;
    border-radius: 50%;
    padding: 12px 12px 12px 9px;
    left: 50%;
    transform: translateX(-50%);
}
.step4 .icon-wrapper img{
    width:36px;
    height:36px;
}
.step4 .action-btn, .step4 .action-btn:hover, .step4 .action-btn:active, .step4 .action-btn:focus{
    padding: 10px 67px;
}
.step4 .form-wrapper .text{
    background: #EFEFEF;
    border: 1px solid #EFEFEF;
    padding: 0.6rem 0.75rem;
    font-size: 15px;
    color: #132730;
}


/* STEP 5*/
.step5{
    background-color: #3DC75B; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #C2E267, #3DC75B);
    min-height: 100vh;
}
.step5 .content {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 60px;
    background-color: #fff;
    padding: 30px;
    height: 530px;
    max-height: 550px;
}
.step5 .range-input {
    background:linear-gradient(to right, #333 41%, #ccc 41% );
}
.step5 .range-bubble { 
    right: 53%;
}  
.step5 .step5-img{
    width: 185px;
    height:145px;
}
.step5 .action-btn{
    width:255px;
}
.step5 .outline-btn{
    width:150px;
}
.step5 .form-wrapper{
    border: 1px solid #F8F8F8;
    border-radius: 60px;
    background-color: #F8F8F8;
    padding: 40px 40px 25px 40px;
}
.step5 .form-wrapper form{
    width: 60%;
    margin: auto
}
.step5 .form-wrapper .text{
    border: 1px solid #6967FF;
    padding: 0.65rem 0.75rem;
    font-size: 15px;
    color: #132730;
}
.step5 .form-wrapper .drop-down{
    border: 1px solid #6967FF;
    padding: 0.65rem 0.75rem;
    font-size: 15px;
    color: #132730;
}


/* STEP 6 */
.step6{
    background-color: #3C2E92;
    background-image: linear-gradient(to bottom right, #6C3BBB, #3C2E92);
    min-height: 100vh;
}
.step6 .content {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    padding: 30px;
    height: 520px;
    max-height: 550px;
    background: url('../images/Steps/step6-bg.png');
    background-color: #C8E7FF;
    background-blend-mode: multiply;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.step6 .range-input {
    background:linear-gradient(to right, #333 50%, #ccc 50% );
}
.step6 .range-bubble { 
    right: 46.5%;
} 


/* STEP 7 */
.step7{
    background-color: #F33557; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #F33557, #F335C9);
    min-height: 100vh;
}
.step7 .content {
    text-align: start;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: #fff;
    /* padding: 30px; */
    height: 520px;
    max-height: 550px;
}
.step7 .c-col {
    /* margin: auto; */
    background-color: #eee;
    /* background-size: cover; */
    border-radius: 50px 0 0 50px;
    /* height: 100%; */
    position: relative;
}
.step7 .content-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.step7 .proof-wrapper{
    width: 410px;
    height: 206px;
    text-align: center;
    margin-top: 1rem;
    border: 1px dashed #000;
    border-radius: 20px;
    padding: 35px 60px;
    /* margin: auto; */
    background-color: #fff;
}
.step7 .proof-title {
    font-size: 24px;
    line-height: 32px;
    color: #383838;
    font-weight: 500;
}
.step7 .img-wrapper {
    text-align: end;
    padding: 40px;
}
.step7 .img-wrapper img{
    border-radius: 20px;
}
.step7 .range-input {
    background:linear-gradient(to right, #333 58%, #ccc 58% );
} 
.step7 .range-bubble { 
    right: 40%;
}


/* STEPS 7 Second Page */
.step7 .proof-sec-wrapper{
    width: 410px;
    height: auto;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 35px 60px;
    background-color: #fff;
}
.step7 .img-icon-wrapper{
    border: 2px dashed #6967FF;
    border-radius: 10px;
}
.step7 .img-icon-wrapper span{
    margin-left:20px;
    color: #132730;
    line-height: 27px;
}
.step7 .c-select{
    color: #132730;
    border-radius: 10px;
    padding: 9px 12px;
    border: 1px solid #6967FF;
}
.step7 .c-select, .step7 .c-select:hover, .step7 .c-select:active, .step7 .c-select:focus {
    outline: none;
    box-shadow: none;
}


/* STEP 7 Third Page */
.step7 .proof-height{
    height:240px;
}


/* STEP 8 */
.step8{
    background-image: url('../images/Steps/step8-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.step8 .content {
    text-align: center;
    border: 10px solid #433C6D;
    border-radius: 65px;
    background-color: #fff;
    padding: 30px;
    height: 460px;
    max-height: 550px;
    background: url('../images/Steps/step8-img.png');
    background-color: #fff;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
}
.step8 p{
    font-size: 18px;
    line-height: 32px;
}
.step8 .c-para{
    font-size: 36px;
    line-height: 45px;
}
.step8 .range-input {
    background:linear-gradient(to right, #333 66%, #ccc 50% );
} 
.step8 .range-bubble { 
    right: 33.5%;
} 


/* STEP 9 */

.step9{
    background-color: #F33557; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #F33557, #F335C9);
    min-height: 100vh;
}
.step9 .content {
    text-align: start;
    border-radius: 50px;
    background-color: #fff;
    /* padding: 30px; */
    height: 540px;
    max-height: 550px;
}
.step9 .content-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step9 .proof-wrapper{
    width: 410px;
    text-align: center;
    margin-top: 1rem;
    border: 1px dashed #000;
    border-radius: 20px;
    padding: 35px 60px;
    /* margin: auto; */
    background-color: #fff;
}
.step9 .proof-wrapper img{
    max-height: 132px;
    max-width: 132px;
}
.step9 .img-wrapper {
    text-align: end;
    padding: 40px;
}
.step9 .img-wrapper img{
    border-radius: 20px;
}
.step9 .range-input {
    background:linear-gradient(to right, #333 75%, #ccc 75% );
} 
.step9 .range-bubble { 
    right: 27%;
} 
.step9 .status-info{
    height: 60px;
    background-color: #6967FF;
    border-radius: 50px 50px 0 0;
    padding: 20px 30px 0 30px;
    color: #fff;
}
.step9 .status-info p{
    color: #fff;
}



@media only screen and (min-width: 1024px) {
    .wrapper{
        width: 95%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .wrapper{
        width: 80%;
    }
}

  
  

