/*--------------------------------------*/

/*Common CSS
/*--------------------------------------*/

/*--------------------------------------*/

/*Fonts
/*--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/*--------------------------------------*/

/*Element Base
/*--------------------------------------*/
body,
html,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
section,
main,
nav{
	margin:0px;
	padding:0px;
	display:block;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.navbar-toggler:focus,
button:focus,
.btn-close:focus,
.btn-check:focus+.btn,
.btn:focus,
.accordion-button:focus,
.form-check-input:focus,
.form-control:focus,
.page-link:focus{
	box-shadow: none;
}
body{
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
a, svg, i, path{
	transition: 0.3s all ease-in-out;
}
img{
	max-width: 100%;
	height:auto;
	object-fit: cover;
	vertical-align: middle;
}
.z-index-9{
	z-index: 9;
}
.cursor{
	cursor: pointer;
}
.centerdiv{
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (min-width: 1200px){
	.container{
		max-width: 1399px;
	}
}
body{
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	font-family: 'Poppins', sans-serif;
	background-color: #000000;
}
main{
	margin: 100px 0;
}
/*--------------------------------------*/

/*Typography
/*--------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: 700;
}
h1{
	font-size: 75px;
	line-height: 62px;
}
h3{
	font-size: 50px;
	line-height: 45px;
}
h4{
	font-size: 40px;
	line-height: 60px;
}
h6{
	font-size: 24px;
	line-height: 30px;
}


.heading{
	position: relative;
}
.heading span{
	background: #FFFFFF;
	z-index: 1;
	padding:0 20px;
	margin: 0px auto;
	position: relative;
}
.heading::before{
	height: 1px;
	width: 100%;
	background: #272525;
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:50%;
}
/*--------------------------------------*/

/*Button
/*--------------------------------------*/
.btn{
	font-size: 20px;
	font-weight: 700;
	padding: 21px 46px;
	border-radius: 75px;
	border: 0;
	transition: 0.4s all ease-in-out;
	position: relative;
	z-index: 1;
    transition-property: color,background-color,box-shadow;
    transition-duration: .4s;
    transition-timing-function: ease;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
	font-family: 'Inter', sans-serif;
}
.btn:after{
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transform: skew(-15deg);
	background-image: linear-gradient(90deg,transparent,rgba(26,27,24,.25),transparent);
}
@keyframes shine {
    to {
      left: 100%;
    }
  }
.btn:hover:after{
	animation: shine 1s ease;
}
.btn.btn-default{
	color: #FFFFFF;
	background-color: #A23519;
	box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
}
/*--------------------------------------*/

/*Responsive
/*--------------------------------------*/
/*`xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
	
}

/*`xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
		
}

/*`lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
}

/*`md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	h2{
		font-size: 36px;
	}
	.btn{
		padding: 16px 30px;
	}
}

/*`sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
}

/*`xs` returns only a ruleset and no media query */
@media (max-width: 480px) {
	
}
/*--------------------------------------*/