/*--------------------------------------*/

/* Footer
/*------------------------------*-------*/
footer{
	color: #FFFFFF;
	padding: 10px 0;
}
footer .footer-logo .img-fluid{
	height: 50px;
	margin-bottom: 4px;
}
footer .copyright{
	font-size: 12px;
}

footer .footer-nav{
	display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
}
footer .footer-nav a{
	font-size: 14px;
	color: #FFFFFF;
}
footer .footer-nav a:hover{
	opacity: 0.8;
}
footer .footer-nav li:not(:last-child){
	padding-right: 20px;
	position: relative;
}
footer .footer-nav li:not(:last-child):after{
	content: '|';
	display: block;
	position: absolute;
	top: 0;
    right: 0;
    padding: 0 8px;
}

footer .social{
	display: flex;
    align-items: center;
	justify-content: end;
}
footer .social li a{
	font-size: 24px;
	color: #FFFFFF;
	transition: 0.4s all ease-in-out;
}
footer .social li a:hover{
	opacity: 0.8;
}
footer .social li:not(:last-child){
	padding-right: 10px;
}
/*--------------------------------------*/

/* Responsive Footer
/*------------------------------*-------*/
@media screen and (max-width: 991px){
	
}

/*`md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px){
	footer{
		text-align: center;
	}
	footer .social{
		justify-content: center;
	}
}

/*`sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
	
}
/*--------------------------------------*/


