/*--------------------------------------*/

/* 1. Banner Section
/*--------------------------------------*/
.banner-section{
	/*background-image: linear-gradient(189deg, #371e61 -13.42%, #d3fdff 96.05%);*/
	/*background-image: linear-gradient(218deg, #371e61 -20%, #d3fdff 90%, rgba(0,0,0,0));/*
	/*background-image: linear-gradient(#371e61 -20%, #d3fdff 90%, rgba(0,0,0,0));*/
	/*background-image: linear-gradient(230deg, rgba(55, 30, 97, 1) -100%, rgba(211, 253, 255, 1) 100%);*/
	/*background: linear-gradient(183deg, rgba(55, 30, 97,0.6), rgba(255,0,0,0) 86.71%),
				linear-gradient(127deg, rgba(211, 253, 255,0.6), rgba(0,255,0,0) 11.71%),
				linear-gradient(336deg, rgba(254, 246, 235,0.6), rgba(0,0,255,0) -0.29%);*/
	height: 100vh;
	color: #371e61;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	position: relative;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.banner-section .wrap{
	max-width: 375px;
	margin: 0px auto;
}
.banner-section .wrap p{
	padding: 20px 0 20px;
}
.banner-section .subscribe .input-group-text{
	transition: 0.4s all ease-in-out;
}
.banner-section .subscribe .input-group-text:hover{
	background-color: #371e61;
	color: #FFFFFF;
}
.banner-section ul{
	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;
	margin: 20px 0;
}
.banner-section li a:hover{
	opacity: 0.6;
}
.banner-section li:not(:last-child){
	margin-right: 8px;
}
.banner-section .app-wrap li .img-fluid{
	width: 136px;
    height: 40px;
}
.banner-section h2 span{
	position: relative;
}
.banner-section h2 span:after{
	content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #371e61;
    margin-top: 6px;
    position: absolute;
	left: 0;
}
/*--------------------------------------*/

/* 2. Features Section
/*--------------------------------------*/
.features-section p{
	padding-bottom: 20px;
}
.features-section .img-wrap{
	text-align: center;
}
.features-section .img-wrap .img-fluid{
	height: 620px;
	box-shadow: 0px 10px 30px rgba(209, 199, 231, 0.5);
    border-radius: 24px;
}
.features-section .global-block{
	color: #371e61;
}
.features-section .img-wrap-even{
	margin-top: 30px;
}
/*--------------------------------------*/
.inner-page{
	margin-top: 80px;
}
.inner-page .banner-section{
	height: 250px;
}
/*--------------------------------------*/

/* 3. Community Section
/*--------------------------------------*/
.community-page1{
	background-color: #fef6eb;
}
.community-page .community-section .wrap{
	max-width: 600px;
	margin: 0px auto;
}
.community-page .community-section .wrap h5{
	text-decoration: underline;
	margin-bottom: 10px;
}
.community-page .community-section .wrap p,
.community-page .community-section .wrap ul{
	padding-bottom: 20px;
	text-align: justify;
}
.community-page .community-section .wrap ul{
	padding-left: 32px;
}
.community-page .community-section .wrap li{
	display: list-item;
	text-align: justify;
}
.community-page .community-section .wrap li:not(:last-child){
	padding-bottom: 10px;
}
.community-page .community-section h6{
	margin-bottom: 6px;
}
/*--------------------------------------*/

/* 4. Faq Page
/*--------------------------------------*/
.faq-page .faq-section .accordion{
	max-width: 600px;
	margin: 0px auto;
	box-shadow: 0px 10px 30px rgba(209, 199, 231, 0.5);
}
/*--------------------------------------*/
#content{
	color: #371e61;
	transition: 0.3s all ease-in-out;
}
#content.active{
	color: #FFFFFF;
}
/*--------------------------------------*/

/* 5. Contact Page
/*--------------------------------------*/
.contact-page .contact-section .wrap{
	box-shadow: 0px 10px 30px rgba(209, 199, 231, 0.5);
	padding: 30px;
}
/*--------------------------------------*/


