<div class="col-sm-12 interview-chat">
    <div class="interview-chat-box" id="conversation-panel">
        <div id="key-press">
            <span id="chat-span"></span>
        </div>
    </div>
    <div class="interview-chat-input">
        <textarea class="interview-chat-input-textarea" rows="3" placeholder="Type your message..." id="txt-chat-message"></textarea>
        <a id="btn-chat-message" class="interview-chat-input-send"><i class="bi bi-send-fill me-2"></i>Send</a>
    </div>
    <script type="text/javascript">
        if (SendButtonClick != null) {
            SendButtonClick();
        }
    </script>
</div>