@using BM.Models.TestSystem.Proctor
@model TestActivities
@{
    var data = Model.Activities;
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <table id="uaa-datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>ActivityType</th>
                        <th>Details</th>
                        <th>OccurredOn</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < data.Count; i++)
                    {
                        var eachRow = data[i];
                        <tr>
                            <td>@i</td>
                            <td>@eachRow.ActivityType.ToString()</td>
                            <td>@eachRow.Details</td>
                            <td>@eachRow.OccurredOn.ToString("dd/MMM/yyyy hh:mm:ss")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <script type="text/javascript">
                $(document).ready(function () {
                    var CatTableData = $('#uaa-datatable').dataTable();
                });
            </script>
        </div>
    </div>
</div>

