/*--------------------------------------*/

/*Google Fonts
/*--------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------------------------------*/

/*Element Base
/*--------------------------------------*/
body,
html,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
section,
main{
	margin:0px;
	padding:0px;
	display:block;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
button:focus,
.btn-close:focus,
.btn-check:focus+.btn,
.btn:focus,
.accordion-button:focus,
.form-check-input:focus,
.form-control:focus,
.page-link:focus{
	box-shadow: none;
}
body{
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: #000000;
}

body{
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}
img{
	max-width: 100%;
	height:auto;
	object-fit: cover;
	vertical-align: middle;
}
.z-index-9{
	z-index: 9;
}
.seperator{
	padding: 100px 0;
}
@media (min-width: 1200px){
	.container{
		max-width: 1280px;
	}
}
p{
	font-family: 'Poppins', sans-serif;
	margin-top: 24px;
	line-height: 27px;
}
.max-1080{
	max-width: 1080px;
}
/*--------------------------------------*/

/*Typography
/*--------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: 700;
}
h1{
	font-size: 50px;
	line-height: 60px;
}
h2{
	font-size: 42px;
	line-height: 50px;
}
h3{
	font-size: 36px;
	line-height: 60px;
}
h4{
	font-size: 30px;
	line-height: 40px;
}
h5{
    font-size: 24px;
	line-height: 32px;
}
h6{
	font-size: 16px;
	line-height: 24px;
}
.cursor-pointer{
	cursor: pointer;
}
.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 80px;
    background-color: #6967FF;
	opacity: 1;
}
.row-eq-height{
    display: flow-root;
}
.custom-warning li{
	font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    display: flex;
    position: relative;
    padding-left: 70px;
    text-align: left;
	min-height: 42px;
	align-items: center;
}
.custom-warning li::before {
    content: url(../images/icons/check.png);
    width: 42px;
    height: 42px;
    position: absolute;
    top: 0;
    left: 0;
}
/*--------------------------------------*/

/*Button
/*--------------------------------------*/
.btn{
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	border: 0;
	border-radius: 8px;
	padding: 16px;
    width: 190px;
	transition: 0.6s all ease-in-out;
}
.btn.btn-default{
	background-color: #FF0000;
}
.btn.btn-default:hover,
.btn.btn-primary:hover,
.btn.btn-warning:hover{
	background-color: #000000;
	color: #FFFFFF;
}
.btn.btn-outline{
	background-color: #FFFFFF;
	border: 1px solid #000000;
	color: #000000;
}
.btn.btn-outline:hover{
	border: 1px solid #F33558;
	color: #F33558;
}
.btn.btn-dark{
	background-color: #000000;
	border: 1px solid #000000;
}
.btn.btn-dark:hover{
	background-color: #FFFFFF;
	color: #000000;
}
.btn.btn-primary{
	background: #6967FF;
}
.btn.btn-warning{
	background: #FFBB00;
}
/*--------------------------------------*/

@media screen and (max-width:1199px){
	h1 {
		font-size: 36px!important;
		line-height: 48px!important;
	}
	h2 {
		font-size: 32px!important;
		line-height: 42px!important;
	}
	h4 {
		font-size: 26px!important;
		line-height: 38px!important;
	}
	h5 {
		font-size: 22px!important;
		line-height: 30px!important;
	}
}
@media screen and (max-width:991px){
	h3 {
		font-size: 28px!important;
		line-height: 40px!important;
	}
	.seperator {
		padding: 50px 0;
	}
	.btn{
		font-size: 14px;
		width: 170px;
		padding: 12px;
	}
}
@media screen and (max-width:767px){
	h1 {
		font-size: 30px!important;
		line-height: 40px!important;
	}
}

@media (max-width: 575.98px){
	
}

@media (max-width: 440px){
	
}
/*--------------------------------------*/
