/*--------------------------------------*/

/* 1. Hero Section
/*--------------------------------------*/
.introduction{
	background-image: url('../images/bg.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}
.introduction-details{
	max-width: 850px;
	margin: 0px auto;
}
.introduction-details p{
	margin: 0 0 12px;
	text-align: justify;
}
.introduction-details li{
	margin: 0 0 8px;
	display: list-item;
}
.introduction-details a{
	font-weight: 700;
	color: #721745;
	text-decoration: underline;
}
.introduction-details a:hover{
	color: #0C3C9B;
}
/*--------------------------------------*/

