@model string
@{

}

        <div class="row">
            <div class="col-sm-4">
                <h4>Brainmeasures Test Platform</h4>
            </div>
            <div id="main-video" style="width:25px;height:20px" hidden>
            </div>
            <div class="col-sm-3 time-left">
                <span id="exam-timer"></span> Time Left
            </div>
            <div class="col-sm-5 text-right">
                <h5>@Html.Raw(Model)</h5>
            </div>
        </div>

