@using BM.Models.TestSystem;
@using System.Linq;
@using System.Diagnostics;
@model BM.Models.TestSystem.Mcq

<section class="test-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 test-wrapper">
                <div class="row">
                    @Html.Partial("InterviewTest/Components/_QuestionAndButtonSection", Model)
                    <div class="col-sm-3">
                        <div class="test-right mt-5">
                            @Html.Partial("InterviewTest/Components/_TimerAndAlertSection")

                            @Html.Partial("InterviewTest/Components/_QuestionNoTileCards")
                                                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>