<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css" integrity="sha512-siwe/oXMhSjGCwLn+scraPOWrJxHlUgMBMZXdPe2Tnk3I0x3ESCoLz7WZ5NTH6SZrywMY+PB1cjyqJ5jAluCOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/MvcScriptsAndStyles/css/Individual/jquery.gritter.css" />
    <link rel="stylesheet" href="~/MvcScriptsAndStyles/css/Corporate/DStyle.css" />
    <link rel="stylesheet" href="~/MvcScriptsAndStyles/css/Individual/main.css" />
    <!-- Include this 'test.css' style sheet in the project where you use this test page -->
    <link href="~/MvcScriptsAndStyles/css/Test/McqTest.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jQuery-2.1.4.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jquery-ui.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jquery.gritter.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/tools.js"></script>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/imajhnndgfbilappeocjbdgemddgiake">
</head>
<body>
    <section class="test-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Brainmeasures Test Platform</h4>
                </div>
                <div class="col-sm-8 text-right">
                    <h5></h5>
                </div>
            </div>
        </div>
    </section>
    <section class="test-main mt-5">
        @RenderBody()
    </section>
    <script src="~/MvcScriptsAndStyles/js/Individual/bootstrap.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jquery.slimscroll.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/fastclick.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/app.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jquery.flot.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jquery.flot.resize.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jquery.flot.pie.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/jquery.flot.categories.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/modernizr-2.6.2.min.js"></script>
    <script src="~/MvcScriptsAndStyles/js/Individual/iCheck/icheck.min.js"></script>
</body>
</html>